/* Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* Global Styles */
.home {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Noto Sans', sans-serif;
    background:rgba(0, 0, 0, 0.5) url("https://annauniversity.education/www.sathyabama.ac.in/sites/default/files/styles/max_2600x2600/public/2022-09/slide4a3c8.jpg?itok=iKJgtsB4")no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: #f4f4f4;
    overflow: hidden;
}

.content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-container {
    text-align: center;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.title {
    font-size: 2em;
    color: #004080;
}

.opacity-down {
    font-size: 1.4em;
    margin-top: 40px;
    color: #242323;
    font-style: italic;
    margin-bottom: 20px;
}
.mini-content {
    margin-top: 40px;
    max-width: 1000px;
    font-size: 1.2em;
}

.justify {
    text-align: justify;
    font-size: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: #000000;
    line-height: 1.6;
}


.features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}

.feature {
    background: #f8f9fa;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #e9ecef;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(33% - 40px); /* 3 items per row */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: left;
}

.feature h2 {
    color: rgba(113, 99, 186, 1);
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
}

.feature:hover {
    transform: translateY(-10px);
}


.link-icons {
    text-align: center;
    text-decoration: none;
    margin-top: 40px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #0b0b0b;
}
.yt {
    color: red;
}
.fb {
    color: #004080;
}
.ig {
    color: rgb(210, 33, 95)
}
.x {
    color: #007BFF;
}
.in {
    color: #004080;
}
/* Responsive Styles */
@media (max-width: 600px) {
    .link-icons {
        text-align: center;
        text-decoration: none;
        margin-top: 0px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .features-section {
        margin: 20px 0;
        gap: 0px;
    }
    .content-container {
        padding: 20px;
    }
    .feature h2 {
        font-size: 1rem;
    }
    
    .feature p {
        font-size: 0.8rem;
    }
    .title {
        font-size: 1.5em;
    }

    .feature {
        width: calc(100% - 40px);
    }

    .opacity-down {
        font-size: 1em;
    }

    .justify {
        font-size: 0.9em;
    }

    .footer-li-a {
        font-size: 1.2em;
    }
}
